<div id="verifyage" class="fixed inset-0 z-20 modal-background flex items-center justify-center">
    <article class="box">
        <div class="box-left">
            <p class="pb-4">Welcome to Car2Go</p>
            <p class="lg:text-sm md:text-sm sm:text-sm exsm:text-[10px]">To ensure compliance with legal regulations, we need to verify that you meet the minimum age requirement for renting a vehicle.</p>
        </div>
        <div class="box-right">
            <h3>Age Confirmation</h3>
            <p class="pt-4 md:text-lg sm:text-sm exsm:text-sm">By clicking "Enter," I certify that I am over the age of 18 and agree to comply with the stated requirements.</p>
            <a href="#" class="btn btn-alpha" id="refresh-page">ENTER</a>
            <p class="decor-line"><span>Or</span></p>
            <a href="#" class="btn btn-beta" id="reset-session">EXIT</a>
            <small></small>
        </div>
    </article>
</div>

<div class="overlay-verify hidden"></div>