<div id="verifyage" class="fixed inset-0 z-20 modal-background flex items-center justify-center">
    <article class="box rounded-2xl">
        <div class="box-left rounded-bl-2xl rounded-tl-2xl">
            <p class="text-2xl lg:text-3xl pb-4">Welcome to Car2Go</p>
            <p class="lg:text-lg text-sm">To ensure compliance with legal regulations, we need to verify that you meet the minimum age requirement for renting a vehicle.</p>
        </div>
        <div class="box-right rounded-br-2xl rounded-tr-2xl bg-black">
            <h3 class="text-white">Age Confirmation</h3>
            <p class="pt-4 md:text-lg sm:text-sm">By clicking "Enter," I certify that I am over the age of 18 and agree to comply with the stated requirements.</p>
            <a href="#" class="btn btn-alpha rounded-full bg-green-800 hover:bg-green-700" id="refresh-page">ENTER</a>
            <p class="decor-line"><span>Or</span></p>
            <a href="#" class="btn btn-beta rounded-full bg-red-800 hover:bg-red-700" id="reset-session">EXIT</a>
            <small></small>
        </div>
    </article>
</div>

<div class="overlay-verify hidden"></div>