


{% block content %}

    <section class="flex flex-wrap justify-center gap-6 p-6">
        <div class="text-sm leading-6 mt-6 w-96 rounded overflow-hidden shadow-md relative">
            <figure class="relative flex flex-col-reverse bg-slate-100 rounded-lg p-6 dark:bg-slate-800 dark:highlight-white/5">
                <blockquote class="mt-6 text-slate-700 dark:text-slate-300">
                    <p>{{ data.author_description }}</p>
                </blockquote>
                <figcaption class="flex items-center space-x-4">
                    <img src="{{ data.author_image }}" 
                         alt="" 
                         class="flex-none w-14 h-14 rounded-full object-cover" 
                         loading="lazy" decoding="async">
                    <div class="flex-auto">
                        <div class="text-base text-slate-900 font-semibold dark:text-slate-200">
                            {{ data.author_name }}
                        </div>
                        <div class="mt-0.5 dark:text-slate-300">
                            {{ data.author_location }}
                        </div>
                    </div>
                </figcaption>
            </figure>
        </div>
    </section>
{% endblock %}
