<head>
	<title>{{ wp_title() }}</title>
	<meta charset="UTF-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="format-detection" content="telephone=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{{ wp_head() }} 
	<div class="text-center text-gray-700 text-6xl font-semibold bg-blue-100 ">
        Authors
    </div>
	<div class="flex flex-wrap justify-center gap-6"></div>
</head>