<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
		rel="stylesheet">

<button id="scroll-to-top" 
        onclick="window.scrollTo({ top: 0, behavior: 'smooth' });"
        class="scroll-to-top fixed bottom-2 right-2 
               bg-gray-800 text-white rounded-full 
               transition duration-300 hover:bg-gray-700">
    <img src="https://media.geeksforgeeks.org/wp-content/uploads/20240227155250/up.png"
         class="w-8 h-8 bg-white rounded-full"
 alt="">
</button>
