<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car2Go</title>
    {% include 'includes/header.twig' %}
</head>
<body>
    <main>
        {% block content %}
            <p>No Content</p>
        {% endblock %}
    </main>
    {% include 'includes/footer.twig' %}
</body>

