<!DOCTYPE html>
<html lang="en">
        {% include 'includes/header.twig' %}
    <body class="bg-gray-400">
        <main>
            {% block content %}
                <p>No Content</p>
            {% endblock %}
        </main>
        {% include 'includes/footer.twig' %}
    </body>
</html>