{% set blackBackground = [ 'addnumbers', 'faq', 'howitworks', 'cartypes'] %} 
<div class="theme-colors">
    {% for module in modules %}
        <div class="w-full module-{{ module.type|lower }}">
            {{ renderModule(module, module.key) }}
        </div>
    {% endfor %}
</div>
