{% set blackBackground = ['Banner','Addnumbers','Faq'] %}
<div>
    {% for module in modules %}
        <div class="w-full {{ module.type|lower }}-module 
            {% if module.type in blackBackground %}
                bg-black
            {% elseif module.type in ['Howitworks', 'Gallery'] %}
                bg-gray-100
            {% else %}
                bg-white
            {% endif %}
        ">
            {{ renderModule(module, module.key) }}
        </div>
    {% endfor %}
</div>
