{% extends "base.twig" %}

{% block content %}
    <div class="w-full">
        {{ include("modules.twig") }}
        <span class="h-3 bg-white text-black click-me">
            Click Me
        </span>
    </div>
{% endblock %}