<div class="relative flex flex-col p-4 space-y-6 items-center">
    <!-- Title and Description -->
    <div id="car_title_and_description" class="text-center">
        {{ car.title_and_description|raw }}
    </div>

    <!-- Features and Car Image Section -->
    <div class="relative flex flex-col md:flex-row items-center p-8 md:space-x-[-4rem] space-y-8 md:space-y-0">
        <!-- Features Section -->
        <div class="relative z-10 w-full md:w-1/3 space-y-2">
            {% for feature in car.car_features %}
                <div class="flex items-start p-3 bg-white border border-gray-200 rounded-lg shadow-md space-x-4">
                        <div class="bg-gray-100 p-3 rounded-xl flex-shrink-0">
                            <img src="{{ feature.icon.url }}" class="w-8 h-8">
                        </div>
                        <div class="text-gray-950">{{ feature.features }}</div>
                </div>
            {% endfor %}
        </div>

        <!-- Car Image Section -->
        <div class="relative w-full md:w-7/8 flex justify-center pl-">
            <div class="bg-gray-100 rounded-lg p-5 py-20 px-16 shadow-md">
                    <img src="{{ car.car_image.url }}" class="w-full h-auto object-cover">
            </div>
        </div>
    </div>
</div>
