@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Module css files
@import "modules/gallery.scss";
@import './Modules/Cartypes.scss';
@import "./modules/age-verification.scss";
@import './Modules/HowItWorks.scss';
@import "./Modules/AddNumbers.scss";
@import './Modules/contact-form.scss';
@import "./Modules/Faq.scss";
@import "./404.scss";
@import "./Modules/cards.scss";
@import "./Modules/search-suggestion.scss";
@import "./Modules/child-comment.scss";
@import "./Modules/comment-form.scss";
@import "./Modules/child-comments.scss";
@import "./Modules/language-switcher.scss";

@import "./style-dark.scss";
@import "./style-light.scss";

.keri{
    animation: animateCar 700ms forwards ease-out;
}
.logo{
    animation: animateLogo 700ms forwards ease-out;
}
@keyframes animateCar {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
@keyframes animateLogo{
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
    }
    100% {
        transform: translateX(0); /* End at the final position */
    }
}
@import "./CarSpecifications.scss";

#DriverDetails input.touched:invalid,
#DriverDetails select.touched:invalid {
    border-color: #dc2626; 
    background-color: #fef2f2; 
}

#DriverDetails input.touched:valid,
#DriverDetails select.touched:valid {
    border-color: #16a34a; 
}


.invalid {
    border-color: #dc2626; 
    background-color: #fef2f2;
}


.valid {
    border-color: #16a34a; 
    background-color: #f0fdf4; 
}
.flatpickr-calendar {
    z-index: 1 !important;
}