@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Module css files
@import "modules/gallery.scss";
@import './Modules/Cartypes.scss';
@import "./modules/age-verification.scss";
@import './Modules/HowItWorks.scss';
@import "./Modules/AddNumbers.scss";
@import './Modules/contact-form.scss';
@import "./Modules/Faq.scss";
@import "./404.scss";
@import "./Modules/cards.scss";

.keri{
    animation: animateCar 700ms forwards ease-out;
}
.logo{
    animation: animateLogo 700ms forwards ease-out;
}
@keyframes animateCar {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}
@keyframes animateLogo{
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
    }
    100% {
        transform: translateX(0); /* End at the final position */
    }
}