body.light .theme-toggle-button {
    position: fixed;
    bottom: 20px; 
    left: 20px;   
    border: none;
    border-radius: 50%; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    z-index: 1000;
}
  
body.light .theme-icon {
    width: 24px;
    height: 24px;
}

body.light #icon-sun {
    display: block;
}
  
body.light #icon-moon {
    display: none;
}




body.light .car-rental-banner {
    background-color: #e8e8e8; 
    color: #000000; 
}

body.light .car-rental-banner a {
    color: #000000; 
}

body.light .car-rental-banner .icon {
    background-color: #000000; 
    color: #ffffff; 
}

body.light #cartypes {
    background-color: white; 

}

body.light header {
    background-color: #e8e8e8; 
    color: #000000; 
}

body.light nav a {
    color: #000000; 
    font-weight: 600;
    line-height: 1.5rem;
}

body.light .header-menu .toggle-submenu {
    background-color: white; 
}

body.light .see-more-button-container a{
    background-color: #e8e8e8; 
    color: #000; 
}

body.light #add-numbers-module {
    background-color: #e8e8e8; 
    color: black;
}

body.light #add-numbers-module .title {
    color: black;
}

body.light #how-it-works-module {
    background-color: white; 
    color: black;
}

body.light #how-it-works-module .module-title {
    color: black;
}

body.light .cards-container {
    background-color: white;
}

body.light #faq-module { 
    background-color: #f8f8f8;
    color: black;
}

body.light #faq-module .faq-title h2{ 
    color: black;
    margin-bottom: -30px;
}

body.light #faq-module .faq-title p{ 
    color: black;
}

body.light #faq-module .faq-footer{ 
    color: black;
}

body.light #faq-module .faq-footer a{ 
    color: black;
}

body.light .footer {
    background-color: #e8e8e8; 
    color: #000000; 
}

body.light .footer a{
    color: black; 
    font-weight: 600;
}

body.light .module-banner {
    background-color: #e8e8e8;
}

body.light .module-addnumbers {
    background-color: #e8e8e8;
}

body.light .module-faq {
    background-color: #f8f8f8;
}

// body.light .module-default {
//     background-color: white;
// }

body.light .module-cards hr{
    background-color: #ccc; 
}

body.light .faq-question:hover{
    background-color: #f9fafb;
}

body.light .test:hover{
    background-color: #e5e7eb;
}

body.light .browse-all-cards{
    background-color: #e8e8e8;
    color: black;
    font-weight: 600;
}

body.light .theme-colors {
    background-color: white;
}

body.light #mobile-menu .gallery-submenu{
    background-color: #e8e8e8;
}

body.light .big-gallery{
    background-color: white;
}


body.light .our-team{
    background-color: white;
}

body.light #banner-theme-image {
    height: 426.67px;
    width: 640px;
}

body.light .shigjeta{
    color: black;
}

body.light #mobile-menu ul li a{
    color: black;
    font-weight: 600;
}

body.light .close{
    color: black;
}

body.light .shigjeta-mobile{
    color: black;
}

body.light .gallery-submenu{
    background-color: #f8f8f8;
}

body.light .contact-us{
    //border: 1px solid black;
    margin-bottom: 30px;

}

body.light .contact-us img{
    margin-left: -30px;

}

body.light #mobile-menu ul li a{
    margin-left: 7px;
}

body.light .shigjeta-mobile{
    margin-right: 7px;
    background-color: #e8e8e8;
}

body.light .toggle-submenu{
    background-color: #e8e8e8;
}

body.light #loginout{
    margin-left: 7px;
    font-weight: 600;
    border-bottom: 1px solid #000000;
    color: #000;
   
}






body.light .car-title {
    color: black;
}

body.light .car-description {
    color: #4b5563; /* Tailwind's text-gray-600 */
}

body.light .car-specification-text {
    color: black;
}

body.light .car-specifications .specification-content h3 {
    color: black;
}

body.light .car-specifications .specification-description {
    color: #4b5563; /* text-gray-600 */
}

body.light .comments-section {
    background-color: #f9fafb; /* Tailwind's bg-gray-50 */
}

body.light .comments-section h2 {
    color: #374151; /* Tailwind's text-gray-800 */
}

body.light .comment-list .parent-comment {
    background-color: white; /* Tailwind's bg-white */
    border-color: #e5e7eb; /* Tailwind's border-gray-200 */
}

body.light .comment-list .comment-author {
    color: black;
}

body.light .comment-list .comment-content {
    color: #4b5563; /* Tailwind's text-gray-800 */
}

body.light .comment-list .comment-date {
    color: #6b7280; /* Tailwind's text-gray-600 */
}

body.light .replies-list {
    background-color: #f9fafb; /* Tailwind's bg-gray-50 */
    border-color: #e5e7eb; /* Tailwind's border-gray-200 */
}

body.light .reply-author,
body.light .reply-content {
    color: #4b5563; /* Tailwind's text-gray-800 */
}

/////////////COMMENTS LIGHT THEME///////////////////

body.light .comments-section {
    background-color: #f9fafb;
}

body.light .comment-text-h{
    color: #374151;
}

body.light .comment-list .parent-comment {
    background-color: white;
    border-color: #e5e7eb;
}

body.light .comment-list .comment-author {
    color: black;
}

body.light .comment-list .comment-content {
    color: #4b5563; 
}

body.light .comment-list .comment-date {
    color: #6b7280; 
}

body.light .replies-list {
    background-color: white;
}

body.light .comment-reply-title{
    color: black;
}

body.light .logged-in-as{
    color: black;
}

body.light .reply-author,
body.light .reply-content {
    color: #4b5563;
}

body.light .comment-reply-link {
    @apply text-gray-500;
}

body.light .comment-reply-link:hover {
    @apply text-gray-600; 
}

body.light .comment-reply-link:active {
    @apply text-gray-700; 
}

body.light .red-message{
    @apply bg-red-100 text-red-700;
}

body.light .green-message{
    @apply bg-green-100 text-green-700;
}

body.light .comment-text-area-c{
    color:black;
}

/////////////COMMENTS LIGHT THEME///////////////////