body.dark .theme-toggle-button {
    position: fixed;
    bottom: 20px; 
    left: 20px;   
    border: none;
    border-radius: 50%; 
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
    cursor: pointer;
    z-index: 1000;
}
  
body.dark .theme-icon {
    width: 24px;
    height: 24px;
}
  
body.dark #icon-sun {
    display: none;
}
  
body.dark #icon-moon {
    display: block;
}



body.dark .car-rental-banner {
    background-color: #000000; 
    color: #ffffff; 
}

body.dark .car-rental-banner a {
    color: #ffffff; 
}

body.dark .car-rental-banner .icon {
    background-color: #ffffff; 
    color: #000000;
}

body.dark #cartypes {
    background-color: black; 
    color: #f1f1f1; 
}

body.dark header {
    background-color: black; 
}

body.dark nav a {
    color: white; 
    font-weight: 600;
    line-height: 1.5rem;
}

body.dark .cards-container {
    background-color: black;
}

body.dark .cards-container h2{
    color: white;
}

body.dark .cards-container p{
    color: white;
}

body.dark .card-item {
    background-color: black;
    border: 1px solid white;
}

body.dark .card-item h4{
    color: white;
}

body.dark .icons-items{
    color: white;
}

body.dark .card-item span{
    color: white;
}

body.dark #add-numbers-module .title {
    color: white;
    // margin-bottom: 20px;
}

body.dark #faq-module .faq-item{ 
    background-color: black;
    color: white;
}

body.dark #faq-module .faq-title h2{ 
    margin-bottom: -30px;
}

body.dark #faq-module .faq-question{ 
    color: white;
}

body.dark #faq-module .faq-answer{ 
    color: white;
}

body.dark #how-it-works-module {
    background-color: black; 
    color: white;
}

body.dark #how-it-works-module .module-title {
    color: white;
}

body.dark .module-banner {
    background-color: black;
}

body.dark .module-addnumbers {
    background-color: black;
}

body.dark .module-faq {
    background-color: black;
}

body.dark .module-howitworks {
    background-color: black;
}

body.dark .module-cartypes {
    background-color: black;
}

// body.dark .module-default {
//     background-color: black; 
// }

body.dark hr {
  display: none;
}

body.dark .module-title h2{
    color: white;
}

body.dark .module-title p{
    color: white;
}

body.dark .faq-question:hover{
    background-color: #222222;
}

body.dark .test {
    border: 1px solid white;
}

body.dark .test:hover {
    background-color: #222222;
}

body.dark .theme-colors {
    background-color: black;
}

body.dark #title_and_description p{
    color: #f8f8f8;
}

body.dark .see-more-button-container a{
    background-color: white;
    color: black;
}

body.dark .browse-all-cards{
    background-color: white;
    color: black;
    font-weight: 600;
}

body.dark #mobile-menu .gallery-submenu{
    background-color: black;
}

body.dark .big-gallery{
    background-color: black;
}


body.dark .our-team{
    background-color: black;
}

body.dark .contacth2{
    color: white;
}

body.dark #submit-button{
    background-color: white;
    color: black;
}

body.dark .wpcf7-response-output{
    color: white;
}

body.dark .contact-us{
    margin-bottom: 30px;

}

body.dark .contact-us img{
    margin-left: -30px;

}

// body.dark .main-content{
//     background-color: black;
// }

body.dark .car-card {
    background-color: black;
    border: 1px solid white;
}

body.dark .car-card h2{
    color: white;
}

body.dark .car-card p{
    color: white;
}

body.dark .car-card span{
    color: white;
}

body.dark .car-card h4{
    color: white;
}

body.dark{
    background-color: black;
}

body.dark .footer{
    color: white;
    font-weight: 600;
}

body.dark .car-title{
    color: white;
}

body.dark .car-description{
    color: white;
}

body.dark .team-member{
    border: 1px solid white;
    background-color: black;
}

body.dark .team-member h2{
    color: white;
}

body.dark .team-member p{
    color: white;
}

body.dark .shigjeta{
    color: white;
}

body.dark .gallery-submenu{
    background-color: #222222;
}

body.dark #mobile-menu ul li a{
    font-weight: 600;
}

body.dark #theme-toggle{
    background-color: white;
}

body.dark #search-form {
    background-color: black;
}

body.dark #search-form button{
    border: 1px solid white;
}

body.dark .footer a{
    color: white; 
    font-weight: 600;
}


body.dark #mobile-menu ul li a{
    margin-left: 7px;
}

body.dark .shigjeta-mobile{
    margin-right: 7px;
}

body.dark #directionLink a{
    background-color: white;
    color: black;
    font-weight: 600;
}

body.dark .map h3{
    color:white;
}


body.dark .car-specification-text{
    color: white;
}

body.dark #car-details-sidebar {
    background-color: #222222;
    color: #f1f1f1;
}

body.dark #car-details-title {
    color: white;
}

body.dark #car-item {
    background-color: #222222;
    border: 1px solid #ffffff;
}

body.dark #car-item-title {
    color: white;
}

body.dark #car-item-link {
    color: #f1f1f1;
}

body.dark #car-rental-details p {
    color: #f1f1f1;
}

body.dark #rental-price {
    color: white;
}

body.dark #additional-fees p {
    color: #f1f1f1;
}

body.dark #subtotal-container {
    color: white;
}

body.dark #car-rental-main {
    background-color: #000000;
    color: #f1f1f1;
}

body.dark #rental-service-title {
    color: #f1f1f1;
}

body.dark #rental-service-description {
    color: #f1f1f1;
}

body.dark #booking-time-section {
    background-color: #222222;
    border: 1px solid #ffffff;
}

body.dark #booking-time-title {
    color: white;
}

body.dark #fee-calculator-container {
    background-color: #222222;
}

body.dark button:not(.like-btn):not(.dislike-btn):not(.submit-button-c) {
    background-color: #ffffff;
    color: #000000;
}

body.dark button:not(.like-btn):not(.dislike-btn):not(.submit-button-c):hover {
    background-color: #555555;
}

body.dark #fee-calculator label {
    color: white;  
}


body.dark #start-date, 
body.dark #end-date {
    background-color: #2d2d2d; 
    color: white;              
    border: 1px solid #4a4a4a; 
}

body.dark #map-section{
    background-color: #222222;
}

body.dark #view-larger-map-btn {
    background-color: #222222;
    color: white;
}

body.dark .authors {
    border: 1px solid white;
}

body.dark .authors:hover {
    background-color: #2d2d2d;
}

body.dark #lightbox-prev svg{
    background-color: black;
}

body.dark #lightbox-next svg{
    background-color: black;
}

body.dark .lightbox-close{
    background-color: black;
    color: white;
}

body.dark .lightbox-close:hover{
background-color: black;
cursor: pointer;
}

body.dark #text1{
    color: #e2e8f0;
}

body.dark #signin,
body.dark #first_name,
body.dark #last_name,
    body.dark #username,
    body.dark #email,
    body.dark #password{
    background-color: #000000;
    color: white;
    border-width: 1px;
    border-style: solid;
    border-color: white;
}

body.dark #loginout{
    margin-left: 7px;
    font-weight: 600;
    border-bottom: 1px solid #919090;
}
body.dark .shigjeta-mobile{
    background-color: black;
    color: white;
}

body.dark #mobile-menu-button .close{
    background-color: black;
    color: white;
}


body.dark .toggle-submenu {
    background-color: black;
}

body.dark .footer{
    background-color: black;
}





body.dark .car-title {
    color: white;
}

body.dark .car-description {
    color: #d1d5db; /* Tailwind's text-gray-300 */
}

body.dark .car-specification-text {
    color: white;
}

body.dark .car-specifications .specification-content h3 {
    color: black;
}

body.dark .car-specifications .specification-description {
    color: black; /* Tailwind's text-gray-300 */
}

body.dark .comments-section {
    background-color: #1f2937; 
}

body.dark .comment-text-h{
    color: white;
}

body.dark .comment-list .parent-comment {
    background-color: #1f2937;
    border-color: #374151;
}

body.dark .comment-list .comment-author {
    color: white;
}

body.dark .comment-list .comment-content {
    color: #d1d5db; 
}

body.dark .comment-list .comment-date {
    color: #9ca3af;
}

body.dark .replies-list {
    background-color: black; 
    
}

body.dark .comment-reply-title{
    color: white;
}

body.dark .logged-in-as{
    color: white;
}

body.dark .reply-author,
body.dark .reply-content {
    color: #d1d5db;
}

body.dark .comment-reply-link {
    @apply text-gray-50;
}

body.dark .comment-reply-link:hover {
    @apply text-gray-100; 
}

body.dark .comment-reply-link:active {
    @apply text-gray-200; 
}

body.dark .red-message{
    @apply bg-red-100 text-red-700;
}

body.dark .green-message{
    @apply bg-green-100 text-green-700;
}

body.dark .comment-text-area-c{
    color:black;
}


body.dark .like-icon,
body.dark .dislike-icon {
    fill: black; 
}

body.dark .like-btn.active .like-icon {
    fill: #10b981; 
}

body.dark .dislike-btn.active .dislike-icon {
    fill: #ef4444; 
}

body.light .submit-button-c {
    @apply bg-green-800; 
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

body.light .submit-button-c:hover {
    @apply bg-green-700;
}

body.light .submit-button-c:active {
    background-color: #0f766e; 
}

body.dark .like-btn::before,
body.dark .dislike-btn::before {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 0.5rem;
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
}

body.dark .like-btn::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23E8E9ED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 16.265L20.9749 12.1852C21.1511 11.1662 20.3675 10.2342 19.3345 10.2342H14.1534C13.6399 10.2342 13.2489 9.77328 13.332 9.26598L13.9947 5.22142C14.1024 4.56435 14.0716 3.892 13.9044 3.24752C13.7659 2.71364 13.354 2.28495 12.8123 2.11093L12.6673 2.06435C12.3399 1.95918 11.9826 1.98365 11.6739 2.13239C11.3342 2.29611 11.0856 2.59473 10.9935 2.94989L10.5178 4.78374C10.3664 5.36723 10.146 5.93045 9.8617 6.46262C9.44634 7.24017 8.80416 7.86246 8.13663 8.43769L6.69789 9.67749C6.29223 10.0271 6.07919 10.5506 6.12535 11.0844L6.93752 20.4771C7.01201 21.3386 7.73231 22 8.59609 22H13.2447C16.726 22 19.697 19.5744 20.2694 16.265Z"/></svg>');
}

body.dark .dislike-btn::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23374151" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 8.48505L20.9749 12.5648C21.1511 13.5838 20.3675 14.5158 19.3345 14.5158H14.1534C13.6399 14.5158 13.2489 14.9767 13.332 15.484L13.9947 19.5286C14.1024 20.1857 14.0716 20.858 13.9044 21.5025C13.7659 22.0364 13.354 22.465 12.8123 22.6391L12.6673 22.6856C12.3399 22.7908 11.9826 22.7663 11.6739 22.6176C11.3342 22.4539 11.0856 22.1553 10.9935 21.8001L10.5178 19.9663C10.3664 19.3828 10.146 18.8195 9.8617 18.2874C9.44634 17.5098 8.80416 16.8875 8.13663 16.3123L6.69789 15.0725C6.29223 14.7229 6.07919 14.1994 6.12535 13.6656L6.93752 4.27293C7.01201 3.41139 7.73231 2.75 8.59609 2.75H13.2447C16.726 2.75 19.697 5.17561 20.2694 8.48505Z"/></svg>');
}

body.dark .like-btn:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2310b981" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 16.265L20.9749 12.1852C21.1511 11.1662 20.3675 10.2342 19.3345 10.2342H14.1534C13.6399 10.2342 13.2489 9.77328 13.332 9.26598L13.9947 5.22142C14.1024 4.56435 14.0716 3.892 13.9044 3.24752C13.7659 2.71364 13.354 2.28495 12.8123 2.11093L12.6673 2.06435C12.3399 1.95918 11.9826 1.98365 11.6739 2.13239C11.3342 2.29611 11.0856 2.59473 10.9935 2.94989L10.5178 4.78374C10.3664 5.36723 10.146 5.93045 9.8617 6.46262C9.44634 7.24017 8.80416 7.86246 8.13663 8.43769L6.69789 9.67749C6.29223 10.0271 6.07919 10.5506 6.12535 11.0844L6.93752 20.4771C7.01201 21.3386 7.73231 22 8.59609 22H13.2447C16.726 22 19.697 19.5744 20.2694 16.265Z"/></svg>');
}

body.dark .dislike-btn::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23E8E9ED" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 8.48505L20.9749 12.5648C21.1511 13.5838 20.3675 14.5158 19.3345 14.5158H14.1534C13.6399 14.5158 13.2489 14.9767 13.332 15.484L13.9947 19.5286C14.1024 20.1857 14.0716 20.858 13.9044 21.5025C13.7659 22.0364 13.354 22.465 12.8123 22.6391L12.6673 22.6856C12.3399 22.7908 11.9826 22.7663 11.6739 22.6176C11.3342 22.4539 11.0856 22.1553 10.9935 21.8001L10.5178 19.9663C10.3664 19.3828 10.146 18.8195 9.8617 18.2874C9.44634 17.5098 8.80416 16.8875 8.13663 16.3123L6.69789 15.0725C6.29223 14.7229 6.07919 14.1994 6.12535 13.6656L6.93752 4.27293C7.01201 3.41139 7.73231 2.75 8.59609 2.75H13.2447C16.726 2.75 19.697 5.17561 20.2694 8.48505Z"/></svg>');
}

body.dark .like-btn.active::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2310b981" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 16.265L20.9749 12.1852C21.1511 11.1662 20.3675 10.2342 19.3345 10.2342H14.1534C13.6399 10.2342 13.2489 9.77328 13.332 9.26598L13.9947 5.22142C14.1024 4.56435 14.0716 3.892 13.9044 3.24752C13.7659 2.71364 13.354 2.28495 12.8123 2.11093L12.6673 2.06435C12.3399 1.95918 11.9826 1.98365 11.6739 2.13239C11.3342 2.29611 11.0856 2.59473 10.9935 2.94989L10.5178 4.78374C10.3664 5.36723 10.146 5.93045 9.8617 6.46262C9.44634 7.24017 8.80416 7.86246 8.13663 8.43769L6.69789 9.67749C6.29223 10.0271 6.07919 10.5506 6.12535 11.0844L6.93752 20.4771C7.01201 21.3386 7.73231 22 8.59609 22H13.2447C16.726 22 19.697 19.5744 20.2694 16.265Z"/></svg>');
}

body.dark .dislike-btn.active::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ef4444" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 8.48505L20.9749 12.5648C21.1511 13.5838 20.3675 14.5158 19.3345 14.5158H14.1534C13.6399 14.5158 13.2489 14.9767 13.332 15.484L13.9947 19.5286C14.1024 20.1857 14.0716 20.858 13.9044 21.5025C13.7659 22.0364 13.354 22.465 12.8123 22.6391L12.6673 22.6856C12.3399 22.7908 11.9826 22.7663 11.6739 22.6176C11.3342 22.4539 11.0856 22.1553 10.9935 21.8001L10.5178 19.9663C10.3664 19.3828 10.146 18.8195 9.8617 18.2874C9.44634 17.5098 8.80416 16.8875 8.13663 16.3123L6.69789 15.0725C6.29223 14.7229 6.07919 14.1994 6.12535 13.6656L6.93752 4.27293C7.01201 3.41139 7.73231 2.75 8.59609 2.75H13.2447C16.726 2.75 19.697 5.17561 20.2694 8.48505Z"/></svg>');
}

body.dark .like-btn:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%2310b981" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 16.265L20.9749 12.1852C21.1511 11.1662 20.3675 10.2342 19.3345 10.2342H14.1534C13.6399 10.2342 13.2489 9.77328 13.332 9.26598L13.9947 5.22142C14.1024 4.56435 14.0716 3.892 13.9044 3.24752C13.7659 2.71364 13.354 2.28495 12.8123 2.11093L12.6673 2.06435C12.3399 1.95918 11.9826 1.98365 11.6739 2.13239C11.3342 2.29611 11.0856 2.59473 10.9935 2.94989L10.5178 4.78374C10.3664 5.36723 10.146 5.93045 9.8617 6.46262C9.44634 7.24017 8.80416 7.86246 8.13663 8.43769L6.69789 9.67749C6.29223 10.0271 6.07919 10.5506 6.12535 11.0844L6.93752 20.4771C7.01201 21.3386 7.73231 22 8.59609 22H13.2447C16.726 22 19.697 19.5744 20.2694 16.265Z"/></svg>');
}

body.dark .dislike-btn:hover::before {
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23ef4444" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M20.2694 8.48505L20.9749 12.5648C21.1511 13.5838 20.3675 14.5158 19.3345 14.5158H14.1534C13.6399 14.5158 13.2489 14.9767 13.332 15.484L13.9947 19.5286C14.1024 20.1857 14.0716 20.858 13.9044 21.5025C13.7659 22.0364 13.354 22.465 12.8123 22.6391L12.6673 22.6856C12.3399 22.7908 11.9826 22.7663 11.6739 22.6176C11.3342 22.4539 11.0856 22.1553 10.9935 21.8001L10.5178 19.9663C10.3664 19.3828 10.146 18.8195 9.8617 18.2874C9.44634 17.5098 8.80416 16.8875 8.13663 16.3123L6.69789 15.0725C6.29223 14.7229 6.07919 14.1994 6.12535 13.6656L6.93752 4.27293C7.01201 3.41139 7.73231 2.75 8.59609 2.75H13.2447C16.726 2.75 19.697 5.17561 20.2694 8.48505Z"/></svg>');
}


body.dark .submit-button-c {
    @apply bg-green-800;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

body.dark .submit-button-c:hover {
    @apply bg-green-700;
}

body.dark .submit-button-c:active {
    background-color: #0f766e;
}

.specification{
    color: black;
}
