body.dark .theme-toggle-button {
    background-color: #333;
    color: #fff;
  }
  
  body.dark .theme-icon {
    fill: #fff;
  }


body.dark .car-rental-banner {
    background-color: #000000; 
    color: #ffffff; 
}

body.dark .car-rental-banner a {
    color: #ffffff; 
}

body.dark .car-rental-banner .icon {
    background-color: #ffffff; 
    color: #000000;
}

.theme-toggle-button {

    width: 60px;
    height: 60px;
    color: black;
    background-color: #333;
    pointer-events: auto;
}

body.dark #cartypes {
    background-color: black; 
    color: #f1f1f1; 
}

body.dark header {
    background-color: black; 
}

body.dark nav a {
    color: white; 
    font-weight: 600;
    line-height: 1.5rem;
}

body.dark .cards-container {
    background-color: black;
}

body.dark .cards-container h2{
    color: white;
}

body.dark .cards-container p{
    color: white;
}

body.dark .card-item {
    background-color: black;
    border: 1px solid white;
}

body.dark .card-item h4{
    color: white;
}

body.dark .icons-items{
    color: white;
}

body.dark .card-item span{
    color: white;
}

body.dark #add-numbers-module .title {
    color: white;
    // margin-bottom: 20px;
}

body.dark #faq-module .faq-item{ 
    background-color: black;
    color: white;
}

body.dark #faq-module .faq-title h2{ 
    margin-bottom: -30px;
}

body.dark #faq-module .faq-question{ 
    color: white;
}

body.dark #faq-module .faq-answer{ 
    color: white;
}

body.dark #how-it-works-module {
    background-color: black; 
    color: white;
}

body.dark #how-it-works-module .module-title {
    color: white;
}

body.dark .module-banner {
    background-color: black;
}

body.dark .module-addnumbers {
    background-color: black;
}

body.dark .module-faq {
    background-color: black;
}

body.dark .module-howitworks {
    background-color: black;
}

body.dark .module-cartypes {
    background-color: black;
}

body.dark .module-default {
    background-color: black; 
}

body.dark hr {
  display: none;
}

body.dark .module-title h2{
    color: white;
}

body.dark .module-title p{
    color: white;
}

body.dark .faq-question:hover{
    background-color: #222222;
}

body.dark .test {
    border: 1px solid white;
}

body.dark .test:hover {
    background-color: #222222;
}

body.dark .theme-colors {
    background-color: black;
}
