.cards-container{
    //added this to the Cards.twig file for conditional application of the class
}

.cards-header {
    //@apply mb-8;

    h2{
    @apply text-[2.7rem]; 
    @apply font-bold;
    @apply text-black; 
    }

    p{
     //@apply mt-6;
    @apply text-black; 
    @apply text-[20px];
    @apply font-[350]; 
    }
}

.cards-title {
    h2{
        @apply text-2xl font-bold text-left pb-6 sm:text-3xl lg:text-4xl text-center;
    }
    p{
        @apply text-base text-center font-semibold text-black max-w-[90%] mx-auto sm:max-w-[50%] sm:text-[18px] lg:max-w-[40%];
    }
}

#cards-grid{
    @apply grid grid-cols-1 max-w-screen-xl mx-auto sm:grid-cols-2 lg:grid-cols-3 gap-6 lg:p-0 p-4;
}

.card-item{
    @apply bg-white rounded-lg shadow-lg overflow-hidden;
}

.p-6{
    h2{
        @apply text-2xl font-semibold text-gray-800;
    }
    p{
        @apply mt-2 text-gray-600 line-clamp-2 h-12;
    }
}

.load-all-cards {
    @apply flex items-center justify-center px-3 py-4 bg-black text-white rounded-full text-base hover:bg-gray-800 w-40;
}

.browse-all-cards{
    @apply flex items-center justify-center px-3 py-4 bg-black text-white rounded-full text-base hover:bg-gray-800 w-40;
}

.see-more-button-container{
    @apply mt-4 mb-2 lg:mr-4;

    a{
        @apply flex items-center justify-center font-semibold px-2 py-2 bg-black text-white rounded-full text-base hover:bg-gray-800 lg:w-40 w-full;
    }
}

.more-details-button{
    a{
        @apply mt-4 flex items-center justify-center text-center text-base font-semibold text-black bg-gray-100 rounded-full hover:bg-gray-200 p-2 transition lg:w-40 w-full;
    }
}


/* Styling for author cards */
.author-card {
    max-width: 300px; /* Adjust the max-width as needed */
    min-height: 200px; /* Adjust the min-height as needed */
    margin: 0 auto; /* Center the cards */
}

/* Responsive adjustments for author cards */
@media (min-width: 768px) {
    .author-card {
        max-width: 350px; /* Increase max-width on medium screens */
    }
}

@media (min-width: 1024px) {
    .author-card {
        max-width: 400px; /* Increase max-width on larger screens */
        margin: 0 10px; /* Adjust margin to control space around cards */
    }
}

/* Specific styling for the author cards' text and layout */
.author-card img {
    max-width: 64px; /* Adjust size of the image if needed */
}

.author-card h2 {
    @apply text-lg font-bold text-gray-800;
}

.author-card p {
    @apply text-gray-600 text-ellipsis overflow-hidden max-h-20;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.author-card .learn-more {
    @apply text-blue-500 hover:underline;
}


.authors-container {
    padding: 0 10px; /* Add padding only to the left and right sides */
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box; /* Ensure padding is included in the width calculation */
}

.owl-carousel {
    width: 100%; /* Ensure the carousel takes the full width of its container */
    max-width: 1200px; /* Optional: Set a maximum width if desired */
}

