#title_and_description h2 {
    @apply text-2xl font-bold text-center pb-6 sm:text-3xl lg:text-4xl sm:max-w-[50%] lg:max-w-[40%] mx-auto;
}

#title_and_description p {
    @apply text-base text-center font-semibold text-gray-600 max-w-[90%] mx-auto sm:max-w-[50%] sm:text-[18px] lg:max-w-[40%];
}



.splide__slide {
    @apply text-center p-2.5;
    img {
        width: 126px !important;
        height: 80px !important;
        transition: transform 0.3s, filter 0.3s;
    }
    
}
.cartype-item-box {
    @apply m-1 flex flex-col items-center p-4 object-contain transition-shadow transition-transform duration-300;

    &:hover {
        @apply bg-gray-300;
    }
}

.splide {
    @apply max-h-[200px] mx-auto px-2.5;

    @screen sm {
        @apply px-5;
    }

    @screen lg {
        @apply px-10;
    }
}

#cartypes {

    .cartype-item-box{
        @apply pt-2;
    }
    .cartype-item-box h2{
        @apply font-bold pt-2;
    }

    .splide__arrow.splide__arrow--next,
    .splide__arrow.splide__arrow--prev {
        @apply text-white bg-white;
    }

    .splide__pagination li {
        @apply hidden;
    }

    .see-more-button-containerr {
        @apply flex justify-center mt-5;
    }

    .see-more-button {
        @apply inline-block rounded-full p-2.5 px-5 bg-black text-white text-center no-underline ;

        &:hover {
            @apply bg-gray-800;
        }
    }
}