.toggle-replies:checked ~ .toggle-label::before {
    content: "Hide replies";
}

.toggle-replies:not(:checked) ~ .toggle-label::before {
    content: "Show replies";
}

.toggle-replies:checked ~ .replies-list {
    max-height: 1000px; 
    opacity: 1;
    visibility: visible;
    @apply mt-4;
}

.replies-list {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}
